
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app {
    display: flex;
  }
  
  .dashboard-content {
    margin-left: 250px; /* Sidebar width */
    padding: 20px;
    flex-grow: 1;
  }
  
  .admin-home{
    height: 100vh;
    width: 100%;
}
.main-content{
      height: 100vh;
      width: 100%;
      display: flex;

  }