.Banner{
    width: 100%;
    height: calc(100vh - 70px);
    background:url(../../../Assets/aju.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px;
}
.BannerContainer{
    margin-top: 100px;
    margin-left: 70%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}
.BannerContainer span{
    font-size: 40px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.604);
    text-align:left;
    
}