.HomeContainer{
    width: 100%;
    background-color: rgb(236, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}
.Content1{
    width: 80%;
    height: 300px;
    display:flex ;   
    margin-top: 20px;
}
.Content1 .left{
    width: 50%;
    height: 100%;
    background:url(../../../Assets/area2.png);
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;

} 


.Content1 .right{
    width: 50%;
    height: 100%;
    background-color: rgb(10, 17, 12);
}
.content2
{
  width: 100%;
  height:400px;  
}
.front{
    width:100%;
    height:700px;
    /* background: url('../../../Assets/home\ sec2.png'); */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-repeat: no-repeat;

}