.Adminmain{
    width: 100%;
    height: 100Vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.688), rgba(0, 0, 0, 0.688)), url('../../../Assets/area2.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.Adminmain h1{
    color: rgba(255, 255, 255, 0.679);
    font-size: 50px;
}
